{% extends 'base.html.twig' %}

{% block content %}

    <div class="jumbotron container">
        <h1 class="display-4">Bienvenue sur ImmoPerso</h1>
        <p class="lead">Un peu d'histoire...</p>
        <p>Voulant acheter avec ma compagne une maison ou un appartement, nous nous sommes vite rendu compte que nous
            perdions les données ou on ne souvenait plus précisément des biens visités. Je me suis alors lancé dans la
            création d'un site tout simple pour noter tout ce qu'on voyait.
        </p>
        <hr class="my-4">
        <p>Le site est en perpétuel amménagement et construction...</p>
    </div>
    <div class="container bdy">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add an House</h5>
                    <a href="{{ path('house_new') }}" class="btn btn-primary btn-lg square" role="button">Ajouter une maison</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add An Appartment</h5>
                    <a href="{{ path('apartment_new') }}" class="btn btn-primary btn-lg square" role="button">Ajouter un apartement</a>
                </div>
            </div>
        </div>
        <div class="card-group">
        {% if houses is not empty %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">See my houses</h5>
                    <a href="{{ path('house_index') }}" class="btn btn-primary btn-lg square" role="button">Voir la liste de mes maisons</a>
                </div>
            </div>
        {% endif %}
        {% if apartments is not empty %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">See my apartments</h5>
                    <a href="{{ path('apartment_index') }}" class="btn btn-primary btn-lg square" role="button">Voir la liste de mes appartements</a>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}